body{
	background-image: url(bg.jpg);
	background-size: cover;
	color: #fff;
	font-family: 'Abril Fatface', cursive;
}
#die1{
	width: 64px;
  	height: 64px;
  	background: url(sprite.png) 128px -64px;
  	margin: 0 auto;
}
#die2{
	width: 64px;
  	height: 64px;
  	background: url(sprite.png) -64px 128px;
  	margin: 0 auto;
}
#dscores{
	color: #fff;
	font-size: 25px;
}
#play{
	color: #fff;
	font-size: 25px;
	text-align: center;
}
button{
	margin-left: 46.5%;
	margin-top: 2%;
	background: transparent;
	color: #fff;
	font-family: 'Abril Fatface', cursive;
	font-size: 20px;
}